#navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	background-image: linear-gradient(#F6F5F5,#C5C5C5);
}

#nav1{
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	margin-right: 1%;
}

#logo{
	margin-left: 3%;
}

#nav1>p{
	font-size: 20px;
	margin-left: 15px;
	margin-right: 5px;
	font-family: Consolas, monospace, arial;
	text-shadow: 1px 1px #000000;
}

@media only screen and (max-width: 800px){
	#nav{
		margin-right: 0%;
	}
	#nav1>p{
	font-size: 15px;
	margin-left: 23px;
	}

}