#navbar{
	position: fixed;
	z-index: 4;
	top: 0px;
	right: 0px;
	left: 0px;
	background-color: white;
	/*height: 80px;*/
	/*border-bottom: 1px black solid;*/
}

#navbar-lower,#navbar-upper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navbar-upper{
	height: 60px;
	margin-left: 25px;
	margin-right: 40px;
	border-bottom: 1px #dee2e6 solid;
}

#navbar-lower{
	height: 70px;
}

#Logo-Head{
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #616771;
	margin-right: 10px;
}

.search {
  	width: 100%;
  	display: flex;
}

.searchTerm { 
  	width: 100%;
  	border: 3px solid black;
  	border-right: none;
  	padding: 6px;
  	padding-left: 15px;
  	border-radius: 15px 0 0 15px;
  	color: black;
}

.searchTerm:focus{
	background-color: black;
	color: white;
}

.searchButton {
  width: 30%;
  border: 3px solid black;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 55%;
}

#nav1{
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	margin-right: 15px;
}

#nav1>p{
	text-align: center;
	font-size: 17px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: georgia, "arial narrow";
	border-radius: 15px;
}